@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu.ttf");
}
body{
  background-color: #009966 !important;
  font-family: Ubuntu !important;
}
#cont{
  padding: 2em !important;
}
#form{
  padding: 5em !important;
}
#aboutpanel{
  background-color: rgb(94, 204, 55) !important;
  border-color: rgb(74, 176, 37) !important;
}
